@use "sass:color";

$theme: "dark";
@media (prefers-color-scheme: light) {
    $theme: "light";
}
@media (prefers-color-scheme: dark) {
    $theme: "dark";
}

$color-primary:   #00c3ff;
$color-secondary: #00ff2a;

$color-success:   #28a745;
$color-danger:    #dc3545;
$color-warning:   #ffc107;
$color-info:      #17a2b8;

$color-lightest:     #eee;
$color-lighter:      #ddd;
$color-light:        #ccc;
$color-lightest-gray:#bbb;
$color-panel:        $color-lighter;
$color-muted:        #808080;
$color-dark:         #333;
$color-darker:       #222;
$color-darkest:      #111;
   
$color-white:        #fff;
$color-black:        #000;

$borderless-theme: false;

@if $theme == "dark" {
    $color-primary:   color.adjust($color-primary,   $saturation: -50%);
    $color-secondary: color.adjust($color-secondary, $saturation: -50%);

    $color-success: color.adjust($color-success, $saturation: -50%);
    $color-danger:  color.adjust($color-danger,  $saturation: -50%);
    $color-warning: color.adjust($color-warning, $saturation: -50%);
    $color-info:    color.adjust($color-info,    $saturation: -50%);

    $color-lightest:      color.invert($color-lightest);
    $color-lighter:       color.invert($color-lighter);
    $color-light:         color.invert($color-light);
    $color-lightest-gray: color.invert($color-lightest-gray);
    $color-panel:         color.invert($color-panel);
    $color-muted:         color.invert($color-muted);
    $color-dark:          color.invert($color-dark);
    $color-darker:        color.invert($color-darker);
    $color-darkest:       color.invert($color-darkest);
    
    $color-white: color.invert($color-white);
    $color-black: color.invert($color-black);

    $borderless-theme: true;
}

$rounded-border-size: 16px;