@use 'vars';
@use 'functions';
@import 'tabpanel';

@mixin message-bubble($color) {
    @extend %rounded-border;

    @if not vars.$borderless-theme {
        border: {
            width: 2px;
            color: $color;
        }
    }

    background-color: functions.backgroundify-color($color);
    color: functions.textify-color($color);

    display: inline-block;
}

.error-bubble {
    @include message-bubble(vars.$color-danger);
}

.warn-bubble {
    @include message-bubble(vars.$color-warning);
}

.info-bubble {
    @include message-bubble(vars.$color-info);
}

%rounded-border {
    @if not vars.$borderless-theme {
        border-style: solid;
    }
    border-radius: vars.$rounded-border-size;
    padding: vars.$rounded-border-size;
}

@if vars.$theme == "dark" {
    a {
        color: #809fff;

        &:visited {
            color: #bb80ff
        }
    }
}

body {
    margin: 0;
    color: vars.$color-darkest;
    background-color: vars.$color-lightest;
}

button {
    background-color: vars.$color-lightest;
    color: vars.$color-darkest;
}

tr {
    th {
        text-decoration: white underline;
    }
    th, td {
        text-align: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

h1 {
    margin: 0;
}

input {
    font-size: 20px;
    text-align: center;
}

.two-digit {
    width: 22px;
}

.three-digit {
    width: 33px;
}

.four-digit {
    width: 44px;
}

.five-digit {
    width: 55px;
}

.six-digit {
    width: 66px;
}

.debug {
    border: 1px solid white;
}

.indent {
    margin-left: 20px;
}

.wrapper {
    @extend %rounded-border;
    background-color: vars.$color-panel;

    display: inline-block;
    vertical-align: top;

    white-space: pre-line;

    padding-left: 20px;
    padding-right: 20px;
}

.vbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hbox {
    display: flex;
    
    &.center-content {
        justify-content: center;
    }
}

.center-content {
    align-content: center;
    align-items: center;
}

.bottom-content {
    align-content: flex-end;
    align-items: flex-end;
}

.top-level-header {
    margin-top: 2em;
}

.brighter-background {
    background-color: vars.$color-white;
}

.code {
    background: vars.$color-lighter;
    border: 1px solid vars.$color-light;
    color: vars.$color-black;

    padding: 0.2em;
    margin: 0 0.2em;
    
    pre {
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        max-width: 100%;
        overflow: auto;
        display: block;
        word-wrap: break-word;

        padding: 1em 1.5em;
        margin-bottom: 1.6em;
    }
}

select.center-options {
    text-align-last: center;
}

.large-icons {
    font-size: 50px;
}

label.section {
    font-weight: bold;
    font-size: larger;
}

.ui-auto-input {
    label {
        font-weight: bold;
        font-size: larger;
    }

    .hbox > .vbox {
        padding: 5px 10px 0 10px;
    }

    .percent-input-postfix {
        font-size: 26px;
    }
}

#monster-tab {
    #monster-combat-stats-output {
        .row {
            display: table-row;
            
            * {
                display: table-cell;
            }
            
            label {
                text-align: right;
                padding-right: 1em;
            }
            
            .value {
                font-size: larger;
                font-weight: bold;
            }
        }
    }
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4.5rem;    /* Footer height */
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;            /* Footer height */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}