.tab-button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: bold;
}

.tab-button:hover {
  background-color: #222222;
}

.tab-button.active {
  background-color: #333333;
}

.error-bubble {
  background-color: #222222;
  color: #c7a9ac;
  display: inline-block;
}

.warn-bubble {
  background-color: #222222;
  color: #dac78f;
  display: inline-block;
}

.info-bubble {
  background-color: #222222;
  color: #93b0b5;
  display: inline-block;
}

.wrapper, .error-bubble, .warn-bubble, .info-bubble {
  border-radius: 16px;
  padding: 16px;
}

a {
  color: #809fff;
}
a:visited {
  color: #bb80ff;
}

body {
  margin: 0;
  color: #eeeeee;
  background-color: #111111;
}

button {
  background-color: #111111;
  color: #eeeeee;
}

tr th {
  text-decoration: white underline;
}
tr th, tr td {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h1 {
  margin: 0;
}

input {
  font-size: 20px;
  text-align: center;
}

.two-digit {
  width: 22px;
}

.three-digit {
  width: 33px;
}

.four-digit {
  width: 44px;
}

.five-digit {
  width: 55px;
}

.six-digit {
  width: 66px;
}

.debug {
  border: 1px solid white;
}

.indent {
  margin-left: 20px;
}

.wrapper {
  background-color: #222222;
  display: inline-block;
  vertical-align: top;
  white-space: pre-line;
  padding-left: 20px;
  padding-right: 20px;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hbox {
  display: flex;
}
.hbox.center-content {
  justify-content: center;
}

.center-content {
  align-content: center;
  align-items: center;
}

.bottom-content {
  align-content: flex-end;
  align-items: flex-end;
}

.top-level-header {
  margin-top: 2em;
}

.brighter-background {
  background-color: black;
}

.code {
  background: #222222;
  border: 1px solid #333333;
  color: white;
  padding: 0.2em;
  margin: 0 0.2em;
}
.code pre {
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  display: block;
  word-wrap: break-word;
  padding: 1em 1.5em;
  margin-bottom: 1.6em;
}

select.center-options {
  text-align-last: center;
}

.large-icons {
  font-size: 50px;
}

label.section {
  font-weight: bold;
  font-size: larger;
}

.ui-auto-input label {
  font-weight: bold;
  font-size: larger;
}
.ui-auto-input .hbox > .vbox {
  padding: 5px 10px 0 10px;
}
.ui-auto-input .percent-input-postfix {
  font-size: 26px;
}

#monster-tab #monster-combat-stats-output .row {
  display: table-row;
}
#monster-tab #monster-combat-stats-output .row * {
  display: table-cell;
}
#monster-tab #monster-combat-stats-output .row label {
  text-align: right;
  padding-right: 1em;
}
#monster-tab #monster-combat-stats-output .row .value {
  font-size: larger;
  font-weight: bold;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4.5rem;
  /* Footer height */
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  /* Footer height */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/*# sourceMappingURL=main.css.map */
